<p id="notice"><%= notice %></p>

<h1>Listing Gram Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Soce</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Birth last name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th>Login validation check</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gram_profiles.each do |gram_profile| %>
      <tr>
        <td><%= gram_profile.soce_id %></td>
        <td><%= gram_profile.first_name %></td>
        <td><%= gram_profile.last_name %></td>
        <td><%= gram_profile.birth_last_name %></td>
        <td><%= gram_profile.gender %></td>
        <td><%= gram_profile.email %></td>
        <td><%= gram_profile.birth_date %></td>
        <td><%= gram_profile.death_date %></td>
        <td><%= gram_profile.login_validation_check %></td>
        <td><%= gram_profile.description %></td>
        <td><%= gram_profile.created_at %></td>
        <td><%= gram_profile.updated_at %></td>
        <td><%= link_to 'Show', gram_profile %></td>
        <td><%= link_to 'Edit', edit_gram_profile_path(gram_profile) %></td>
        <td><%= link_to 'Destroy', gram_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
