<p id="notice"><%= notice %></p>

<p>
  <strong>Soce:</strong>
  <%= @gram_profile.soce_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @gram_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @gram_profile.last_name %>
</p>

<p>
  <strong>Birth last name:</strong>
  <%= @gram_profile.birth_last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @gram_profile.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gram_profile.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @gram_profile.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @gram_profile.death_date %>
</p>

<p>
  <strong>Login validation check:</strong>
  <%= @gram_profile.login_validation_check %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gram_profile.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @gram_profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @gram_profile.updated_at %>
</p>

<%= link_to 'Edit', edit_gram_profile_path(@gram_profile) %> |
<%= link_to 'Back', gram_profiles_path %>
